1. AWS EC2 인스턴스에 Mysql 설치
2. 모델링
3. SELECT 구문
4. GROUP BY
5.
6.
7. Functions
8. JOIN, UNION
9. Sub-Query
10. View
11. Index
12. SQLAlchemy

- DB(Database): 데이터를 통합하여 관리하는 데이터의 집합
- DBMS(Database Management System): 데이터베이스를 관리하는 미들웨어 시스템, 데이터 베이스 관리 시스템 (데이터를 가져오는 것은 빠르지만 insert가 느림)
- RDBMS(Relational Database Management System): 데이터 테이블 사이에 키 값으로 관계를 가지고 있는 데이터베이스 (Oracle, Mysql, Postgresal, Sqlite)
- NoSQL: 데이터테이블 사이의 관계가 없이 데이터를 저장하는 데이터베이스. 데이터 사이의 관계가 없으므로 복잡성이 작고 많은 데이터의 저장이 가능 (MongoDB, Hbase, Cassandra) (관계가 없기 때문에 데이터를 가져오는 것은 느리지만 insert는 빠름, scheme를 생각할 필요 없음)

### MySQL 특징
- 오픈소스
- 다중 사용자와 다중 스레드 지원
- 다양한 운영체제에 다양한 프로그래밍 언어 지원
- 표준 SQL 사용
- 작고 강력하며 가격이 저렴

rw-------
(rw-) root 권한
(---) group 권한
(---) 개인 권한

DML
Transaction: 명령이나 코드가 실행되는 하나의 단위

#### 1. country 테이블에서 중복을 제거한 Continent를 조회하세요.

In [ ]:
select continent
from country

In [1]:
select count(distinct (continent)) as continent_count
from country

SyntaxError: invalid syntax (<ipython-input-1-39eded014e7e>, line 1)

In [2]:
# Sakila 데이터 베이스에서 국가가 인도 고객의 수를 출력하세요.
use sakila;

select country, count(country) as count
from customer_list
where country = 'India';

SyntaxError: invalid syntax (<ipython-input-2-017e40ea91b5>, line 2)

In [3]:
# 3. 한국 도시중에 인구가 100만이 넘는 도시를 조회하여 인구순으로 내림차순하세요.
select name, population
from city
where countrycode = 'KOR' and population > 1000000

SyntaxError: invalid syntax (<ipython-input-3-cbec90ea7205>, line 2)

In [4]:
# 4. city 테이블에서 population이 800만 ~ 1000만 사이인 도시 데이터를 인구수순으로 내림차순하세요.
select name, CountryCode, Population
from city
where population between 8000000 and 10000000 
order by population desc

SyntaxError: invalid syntax (<ipython-input-4-9236d66e2081>, line 2)

In [5]:
select 10 as number
from dual

SyntaxError: invalid syntax (<ipython-input-5-020670c6f6b5>, line 1)

In [6]:
select 10 as number, 10/5 as div_number
from dual

SyntaxError: invalid syntax (<ipython-input-6-8d26700e6d5b>, line 1)

In [7]:
# 국가 데이터에서 인구당 GNP 순위를 내림차순으로 출력
select code, name, population, GNP, GNP/population*100 as gpp
from country
order by gpp desc

SyntaxError: invalid syntax (<ipython-input-7-8e60915cf42a>, line 2)

In [8]:
# group by: count(), max(), min(), avg(), var_samp(), stddev()

# city 테이블에서 국가별 도시의 갯수 출력
select countryCode, count(countryCode)
from city
group by countryCode

SyntaxError: invalid syntax (<ipython-input-8-1011d8760a8a>, line 4)

In [9]:
# 대륙별 인구수와 GNP 최댓값을 조회
select continent, max(population), max(GNP)
from country
group by continent

SyntaxError: invalid syntax (<ipython-input-9-c04ab5a77a5a>, line 2)

In [10]:
# 대륙별 인구수와 GNP 최솟값을 조회
select continent, avg(population), min(GNP)
from country
where GNP > 0
group by continent

SyntaxError: invalid syntax (<ipython-input-10-e0866ead80e5>, line 2)

In [12]:
# 대륙별 인구수와 GNP 최댓값을 조회
select continent
	, avg(population) as avg_population
    , min(GNP) as min_gnp
from country
where GNP > 0
group by continent
having min_gnp > 100
order by min_gnp desc
limit 1

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [ ]:
# 고객과 스탭별 매출과 고객별 매출 총합
select customer_id, staff_id, sum(amount)
from payment
group by customer_id, staff_id
with rollup